<div>
    <h1 class="font-primary-bold text-lg mb-4">{{"ABOUT_TITLE" | translate}}</h1>
    <!-- User Stories -->
    <ui-card>
        <h3 class="mb-2 font-primary-medium">{{"ABOUT_SUB_TITLE" | translate}}</h3>
        <ul class="list-inside list-disc">
            <li>
                {{"ABOUT_CONDITION_1" | translate}}
            </li>
            <li>
                {{"ABOUT_CONDITION_2" | translate}}
            </li>
            <li>
                {{"ABOUT_CONDITION_3" | translate}}
            </li>
            <li>
                {{"ABOUT_CONDITION_4" | translate}}
            </li>
            <li>
                {{"ABOUT_CONDITION_5" | translate}}
            </li>
            <li>
                {{"ABOUT_CONDITION_6" | translate}}
            </li>
            <li>
                {{"ABOUT_CONDITION_7" | translate}}
            </li>
            <li>
                {{"ABOUT_CONDITION_8" | translate}}
            </li>
            <li>
                {{"ABOUT_CONDITION_9" | translate}}
            </li>
        </ul>
    </ui-card>

    <h1 class="font-primary-bold text-lg mb-4 mt-8">{{"REQUIREMENTS" | translate}}</h1>
    <ui-card>
        <!-- Backend -->
        <h3 class="mb-2 font-primary-medium">Backend</h3>
        <ul class="list-inside list-disc">
            <li>
                Rest API
            </li>
            <li>
                Node JS / Express
            </li>
            <li>
                MongoDB
            </li>
            <li>
                Domain Driven Design
            </li>
            <li>
                Layered architecture
            </li>
            <li>
                Dependency injection
            </li>
            <li>
                Basic unit testing
            </li>
        </ul>

        <!-- Front End -->
        <h3 class="mb-2 mt-4 font-primary-medium">Frondend</h3>
        <ul class="list-inside list-disc">
            <li>
                Angular
            </li>
            <li>
                OAuth/JWT authentication
            </li>
            <li>
                Convenient UX
            </li>
        </ul>
    </ui-card>
</div>